<p-dialog
  [visible]="true"
  [modal]="true"
  [maximizable]="true"
  header="Нове перевезення"
  [style]="{width: '50vw'}"
  [breakpoints]="{'960px': '75vw', '640px': '97vw'}"
  (visibleChange)="closeModal.emit()"
>
  <form [formGroup]="form" (ngSubmit)="addItem()">
    <formly-form
      [form]="form"
      [fields]="fields"
      [model]="model"
      class="grid p-fluid"
    ></formly-form>

    <div class="col-12">
      <button
        [disabled]="!form.valid || loading"
        pButton
        pRipple
        type="submit"
        label="Зберегти"
        class="p-button-success"
      >
        <p-progressSpinner
          *ngIf="loading"
          strokeWidth="5"
          animationDuration="3s"
          class="mr-2"
          [style]="{width: '20px', height: '20px'}"
        ></p-progressSpinner>
      </button>
    </div>
  </form>
</p-dialog>
