<div class="table-data__item">
  <span class="table-data__column-title">
    {{ config.label }}
  </span>

  <formly-form
    *ngIf="fields.length"
    [fields]="fields"
    [model]="model"
  ></formly-form>

  <div
    *ngIf="!fields.length"
    [className]="isEditable ? 'editable' : ''"
    (click)="setEditor()"
  >
    <ng-container
      *ngTemplateOutlet="template || defaultTemplate; context: { $implicit: previewData }"
    ></ng-container>
  </div>
</div>

<ng-template #defaultTemplate>{{ previewData }}</ng-template>
